# keycloak settings
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=offgrid-internal
VITE_KEYCLOAK_CLIENT_ID=portal-app
# Optional: init onLoad option used by the provider (check-sso, login-required, etc.)
VITE_KEYCLOAK_ONLOAD=check-sso

# API settings
VITE_PORTAL_API_BASE_URL=http://localhost:5000

# APP Settings
VITE_APP_ENV=development