# NOTE: PORTAL_API_BASE_URL and OG_KC_BASE_URL env settings for
# 'REST Client extension' are set in:
#
#   - ./.vscode/settings.json (no workspace)
#   - ./dotnet.code-workspace (workspace)
#   - ./portal.code-workspace (workspace)

# keyckloak realm settings
OG_KC_REALM=offgrid-internal

# keycloak portal client settings
OG_KC_CLIENT_ID=portal-app

# keycloak portal users
OG_KC_PORTAL_ADMIN_USERNAME=portal-admin
OG_KC_PORTAL_ADMIN_PASSWORD=password
OG_KC_CUSTOMER_MANAGER_USERNAME=customer-manager
OG_KC_CUSTOMER_MANAGER_PASSWORD=password
OG_KC_PRODUCT_MANAGER_USERNAME=product-manager
OG_KC_PRODUCT_MANAGER_PASSWORD=password

# sample customer
SAMPLE_CUSTOMER_ID=29417bdb-fd94-4533-8983-02a3c6904102

# sample product
SAMPLE_PRODUCT_ID=886a282fd9c8c8729a39fd11800f7c898d2f975883c9210c04720344972105ce