OG_KC_REALM=offgrid-public
OG_KC_CLIENT_ID=shop-app
OG_KC_CLIENT_SECRET=
OG_KC_CUSTOMER_STANDARD_USERNAME=johndoe
OG_KC_CUSTOMER_STANDARD_PASSWORD=password
OG_KC_CUSTOMER_SILVER_USERNAME=janedoe
OG_KC_CUSTOMER_SILVER_PASSWORD=password
OG_KC_CUSTOMER_GOLD_USERNAME=alicewonder
OG_KC_CUSTOMER_GOLD_PASSWORD=password
OG_KC_BASE_URL=http://localhost:8080