# keycloak settings
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=offgrid-internal
VITE_KEYCLOAK_CLIENT_ID=portal-app
# Optional: init onLoad option used by the provider (check-sso, login-required, etc.)
VITE_KEYCLOAK_ONLOAD=check-sso