# postgres environment variables
OG_POSTGRES_USER=postgres
OG_POSTGRES_PASSWORD=password
OG_POSTGRES_DB=offgrid

# postgres pgadmin4 environment variables
OG_PGADMIN_DEFAULT_EMAIL=admin@example.com
OG_PGADMIN_DEFAULT_PASSWORD=password

# keycloak environment variables
OG_KC_BOOTSTRAP_ADMIN_USERNAME=admin
OG_KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# rabbitmq environment variables
OG_RABBITMQ_DEFAULT_USER=admin
OG_RABBITMQ_DEFAULT_PASS=password

# mongo environment variables
OG_MONGO_INITDB_ROOT_USERNAME=admin
OG_MONGO_INITDB_ROOT_PASSWORD=changeme

# mongo-express environment variables
OG_ME_CONFIG_MONGODB_ADMINUSERNAME=admin
OG_ME_CONFIG_MONGODB_ADMINPASSWORD=changeme
OG_ME_CONFIG_MONGODB_SERVER=mongo
OG_ME_CONFIG_BASICAUTH_USERNAME=meuser
OG_ME_CONFIG_BASICAUTH_PASSWORD=changeme

# typesense environment variables
TN_TYPESENSE_API_KEY=ea9c494b-62df-49a4-ad86-afb36e6392d4