NEXT_PUBLIC_APP_NAME="Offgrid"
NEXT_PUBLIC_APP_DESCRIPTION="Online retail destination for adventure enthusiasts, offering a curated selection of high-quality gear for exploration and outdoor pursuits"

# authjs and keycloak settings
AUTH_KEYCLOAK_ID="shop-app"
AUTH_KEYCLOAK_ISSUER="http://localhost:8080/realms/offgrid-public"
AUTH_URL="http://localhost:3000"
AUTH_KEYCLOAK_SECRET=""
AUTH_SECRET="get secret via CLI: npx auth secret"

# API settings
SHOP_API_BASE_URL="http://localhost:7000"