NEXT_PUBLIC_APP_NAME="Offgrid"
NEXT_PUBLIC_APP_DESCRIPTION="Online retail destination for adventure enthusiasts, offering a curated selection of high-quality gear for exploration and outdoor pursuits"